{% extends 'base.html.twig' %}

{% block body %}

    <div class="quatrecentquatre">
        <div class="ohnon">
        <h1> 403 - Boooooh ! This is not the web page you are looking for .. </h1>
        <p class="linkerror"><a href="{{ path('app_home') }}">GO BACK TO HOME</a></p>
        </div>
        <img src="https://i.pinimg.com/originals/3d/34/79/3d3479146805c2a0413b29af76926b30.gif" >
    </div>
		
{% endblock %}